.cp-btn-copy {
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) !important;
    background-color: #483d8b !important;
    background-image: -webkit-linear-gradient(#8174DB, #483d8b) !important;
    background-image: linear-gradient(#8174DB, #483d8b) !important;
    border-color: #302389 !important;
}

.cp-btn-copy:hover {
    color: #fff;
    background-color: #483d8b !important;
    background-image: -webkit-linear-gradient(#8174DB, #352B75) !important;
    background-image: linear-gradient(#8174DB, #352B75) !important;
    border-color: #302389 !important;
}

.cp-btn-copy:active, .cp-btn-copy.selected {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15) !important;
    background-color: #372C83 !important;
    background-image: none !important;
    border-color: #24196B !important;
}
